/venv/ # виртуальное окружение
/.idea/ # настройки IDE
.env # переменные окружения
.git/ # версионирование
__pycache__/ #  Кэш
*.pyc # Скомпилированные файлы
*.pyo # Оптимизированные файлы
*.pyd # Скомпилированные модули
.Python # Временные файлы